<?xml version="1.0" encoding="UTF-8"?>
 <!--\u65E5\u5FD7\u7EA7\u522B\u4EE5\u53CA\u4F18\u5148\u7EA7\u6392\u5E8F: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
 <!--Configuration\u540E\u9762\u7684status\uFF0C\u8FD9\u4E2A\u7528\u4E8E\u8BBE\u7F6Elog4j2\u81EA\u8EAB\u5185\u90E8\u7684\u4FE1\u606F\u8F93\u51FA\uFF0C\u53EF\u4EE5\u4E0D\u8BBE\u7F6E\uFF0C\u5F53\u8BBE\u7F6E\u6210trace\u65F6\uFF0C\u4F60\u4F1A\u770B\u5230log4j2\u5185\u90E8\u5404\u79CD\u8BE6\u7EC6\u8F93\u51FA-->
 <!--monitorInterval\uFF1ALog4j\u80FD\u591F\u81EA\u52A8\u68C0\u6D4B\u4FEE\u6539\u914D\u7F6E \u6587\u4EF6\u548C\u91CD\u65B0\u914D\u7F6E\u672C\u8EAB\uFF0C\u8BBE\u7F6E\u95F4\u9694\u79D2\u6570-->
 <configuration status="WARN" monitorInterval="30">
     <!--\u5148\u5B9A\u4E49\u6240\u6709\u7684appender-->
     <appenders>
		<!--\u8FD9\u4E2A\u8F93\u51FA\u63A7\u5236\u53F0\u7684\u914D\u7F6E-->
        <console name="Console" target="SYSTEM_OUT">
        <!--\u8F93\u51FA\u65E5\u5FD7\u7684\u683C\u5F0F-->
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </console>
     	<!--\u6587\u4EF6\u4F1A\u6253\u5370\u51FA\u6240\u6709\u4FE1\u606F\uFF0C\u8FD9\u4E2Alog\u6BCF\u6B21\u8FD0\u884C\u7A0B\u5E8F\u4F1A\u81EA\u52A8\u6E05\u7A7A\uFF0C\u7531append\u5C5E\u6027\u51B3\u5B9A\uFF0C\u8FD9\u4E2A\u4E5F\u633A\u6709\u7528\u7684\uFF0C\u9002\u5408\u4E34\u65F6\u6D4B\u8BD5\u7528-->
     	<File name="log" fileName="log/test.log" append="false">
        	<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
     	</File>
     	<!-- \u8FD9\u4E2A\u4F1A\u6253\u5370\u51FA\u6240\u6709\u7684info\u53CA\u4EE5\u4E0B\u7EA7\u522B\u7684\u4FE1\u606F\uFF0C\u6BCF\u6B21\u5927\u5C0F\u8D85\u8FC7size\uFF0C\u5219\u8FD9size\u5927\u5C0F\u7684\u65E5\u5FD7\u4F1A\u81EA\u52A8\u5B58\u5165\u6309\u5E74\u4EFD-\u6708\u4EFD\u5EFA\u7ACB\u7684\u6587\u4EF6\u5939\u4E0B\u9762\u5E76\u8FDB\u884C\u538B\u7F29\uFF0C\u4F5C\u4E3A\u5B58\u6863-->
        <RollingFile name="RollingFileInfo" fileName="${demo190824.root}/logs/info.log"
                      filePattern="${demo190824.root}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <!--\u63A7\u5236\u53F0\u53EA\u8F93\u51FAlevel\u53CA\u4EE5\u4E0A\u7EA7\u522B\u7684\u4FE1\u606F\uFF08onMatch\uFF09\uFF0C\u5176\u4ED6\u7684\u76F4\u63A5\u62D2\u7EDD\uFF08onMismatch\uFF09-->        
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
     </appenders>
     <!--\u7136\u540E\u5B9A\u4E49logger\uFF0C\u53EA\u6709\u5B9A\u4E49\u4E86logger\u5E76\u5F15\u5165\u7684appender\uFF0Cappender\u624D\u4F1A\u751F\u6548-->
     <loggers>
         <!--\u8FC7\u6EE4\u6389spring\u548Cmybatis\u7684\u4E00\u4E9B\u65E0\u7528\u7684DEBUG\u4FE1\u606F-->
         <logger name="org.springframework" level="INFO"></logger>
         <logger name="org.mybatis" level="INFO"></logger>
         <root level="all">
             <appender-ref ref="Console"/>
             <appender-ref ref="RollingFileInfo"/>
         </root>
     </loggers>
 </configuration>