<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>logwebdemo-01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 指定log4j的配置文件路径 -->
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>WEB-INF\classes\properties\log4j.properties</param-value>
  </context-param>
  
  <!-- 配置log4j的sevlet 并配置为初始化加载 -->
  <servlet>
  	<servlet-name>log4jServlet</servlet-name>
  	<servlet-class>com.lhb.logweb01.servlet.Log4jServlet</servlet-class>
  	<load-on-startup>0</load-on-startup>
  </servlet>
  
  <!-- 配置index的访问servlet -->
  <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>com.lhb.logweb01.servlet.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/index1</url-pattern>
  </servlet-mapping>
</web-app>